* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.myjumbotroncolor {
    background-color: #e45919;
}

.mybg {
    background-color: #F9EFA8;

}